# /*
#  * SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#  *
#  * SPDX-License-Identifier: AGPL-3.0-only
#  */

/node_modules/
/build/
/dist/
/pkg/
/lib/
/deploy/
/junit.xml
/coverage/
/.vscode/
/.idea/
.dev.json
zextras-carbonio-*.tgz
shell.iml
.env
carbonio.webpack.js
src/constants/locales.js
/temp
*.tgz
